:root {
  --background: hsl(60, 9%, 98%);
  --foreground: hsl(20, 6%, 16%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: hsl(60, 9%, 7%);
    --foreground: hsl(60, 6%, 96%);
  }
}

* {
  font-family: "Inter", sans-serif;
}

body {
  margin: 0;
  background: var(--background);
  color: var(--foreground);
}

main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
  width: 100%;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.5rem;
}

.list button {
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  border: 1px solid #ccc;
  color: #ccc;
  background: #181818;
  cursor: pointer;
}

.list button:hover {
  background: #282828;
}
